<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <link rel="shortcut icon" href="">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <title>LoopyFruits</title>
</head>

<body>
    <header id="showcase">
        <div class="bg-image"></div>
        <div class="header-text">
            <h1>Welcome to <em>LoopyFruits!</em></h1>
            <p>The Web App that allows you to easily create and save drum and instrumental tracks. It's as easy as
                'point and click'!</p>
            <a href="" class="btn">Login</a>
            <a href="/producer" class="btn">Producer</a>
        </div>
    </header>
    <!-- 
    <div id="section-a" class="grid">
        <h2>Check out an example of what you can do with BeatBoxx!</h2>
        <a class="btn">Play</a>
    </div> -->

    <main>
        <!-- <div id="section-b" class="grid">
            <ul>
                <li>
                    <div class="card">
                        <img src="assets/imgs/audio-audio-mixer-close-up-2111015.jpg" alt="">
                        <div class="card-content">
                            <h3>Create Sick Beats</h3>
                            <p>Share them with friends so they can add thier own spin to them. Don't worry, it won't
                                change the original.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card">
                        <img src="assets/imgs/bookcase-bookshelves-bookstore-351265.jpg" alt="">
                        <div class="card-content">
                            <h3>Browse the BeatBoxx Library</h3>
                            <p>Scroll through every beat ever saved and make your own modifications to them! The sky's
                                the limit my friend!</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card">
                        <img src="assets/imgs/blur-bright-buton-159278.jpg" alt="">
                        <div class="card-content">
                            <h3>Make Custom Drum Machines</h3>
                            <p>Pick from over 30 sound clips to create your own drum machine you can play from your
                                keyboard.</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div> -->
        <div id="section-c" class="grid">
            <select name="soundClip" id="soundClip">
                <option value="hihat">Hi-Hat</option>
                <option value="snare">Snare</option>
                <option value="kick">Kick</option>
                <option value="symbol">Symbol</option>
            </select>
            <div id="drumMachine">
                <div class="drumButton" id="box1"></div>
                <div class="drumButton" id="box2"></div>
                <div class="drumButton" id="box3"></div>
                <div class="drumButton" id="box4"></div>
            </div>
        </div>

    </main>
    <footer id="main-footer" class="grid">
        <div>LoopyFruits Studio</div>
        <div>Created by <a href="" target="_blank">NolanJHarris</a></div>
    </footer>
</body>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.1.2/howler.min.js"></script>
<script type="text/javascript" src="script.js"></script>
<script type="text/javascript" src="loopyfruits.js"></script>

</html>